PORT=3000

# Database Configuration
DB_USER=gestao
DB_PASSWORD=gestao_password
DB_NAME=gestao_db
DB_PORT=5437
DATABASE_URL="postgresql://gestao:gestao_password@localhost:5437/gestao_db?schema=public"

# Keycloak Database Configuration
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak_password
KEYCLOAK_DB_NAME=keycloak_gestao
KEYCLOAK_DB_PORT=5438

# Keycloak Configuration
KEYCLOAK_PORT=8081
KEYCLOAK_BASE_URL=http://localhost:8081
KEYCLOAK_REALM=gestao-quatro5
KEYCLOAK_CLIENT_ID=gestao-quatro5
KEYCLOAK_CLIENT_SECRET=your_client_secret
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin_password
