PORT=3000
DATABASE_URL="postgresql://gestao:gestao_password@localhost:5437/gestao_db?schema=public"

# Keycloak Configuration
KEYCLOAK_BASE_URL=http://localhost:8081
KEYCLOAK_REALM=gestao-quatro5
KEYCLOAK_CLIENT_ID=gestao-quatro5
KEYCLOAK_CLIENT_SECRET=your_client_secret
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin_password
